body {
  margin: 0px;
  bottom-margin: 100px;
}


article {
  margin-left: 10%;
  width: 80%;
}

h1 {
  font-size: 70px;
}

header { 
font-size: 25px;
font-family: helvetica;
}

.headline{
  text-decoration: underline;
  margin-bottom: -20px;
  text-align: center;
  font-size: 50px;
}

.sub-line{
  text-align: center;
  font-size: 30px;
}

.byline {
  font-size: 15px;
  margin-top: -10px;
}

.main_image {
  width: 100%;
}

.story-body {
  font-size: 20px;
  font-family: electra;
}

.Article-image{
  width: 100%;
}


.date {
  font-size: 15px;
}
.caption {
  margin-top: -3px;
  color: darkslategrey;
  font-family: electra;

}
.weird-graphic-that-I-have-to-align{
  width: 100%;
  text-align: center;
}
.article-caption{ 
  margin-top: -3px;
  text-align: left;
  color: darkslategrey;
  font-size: 15px;
 }

footer {
  margin-top: 30px;
  font-family: Basier, Arial, sans-serif;
  color: #effaf6;
}

a {
  color: black;
}

a:hover {
  color: #717171;
  text-decoration-color: #ffcb04;
}
